* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: inherit;
}

:root {
    --color-white: #fff;
    --color-light-white: #dfe6e9;

    --color-green-dark: #006b56;
    --color-green-light: #00866b;
    --color-orange: #e17055;
    --color-red: #d63031;


    --color-black: #000;

    --black-light-transparent: rgba(0, 0, 0, 0.9);
    --black-dark-transparent: rgba(0, 0, 0, .95);

    --shadow: rgba(0,0,0,.4);
}